PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/careercompass
JWT_SECRET=ce96b47fe08cf2a061e7957ec42108c0dd1dae8f8a6a7d609fb7dc815f4b82da
GEMINI_API_KEY=AIzaSyCXSWqz6u3WLmNk6HIQQxBpnxIGDd98kMQ
